.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Bordas mais arredondadas */
}

.modal-content {
    max-width: 600px;
    margin: 0 auto;
    color: #333; /* Cor do texto escura */
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #333; /* Cor do texto escura */
}

ul {
    list-style-type: none;
    padding: 0;
}

    ul li {
        margin-bottom: 10px;
    }

/* Adicione mais estilos conforme necessário */

.ticket-image {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto; 
    border-radius: 5px;
    display: block;
    margin: 0 auto; 
}
select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

    select option {
        color: black; 
    }

.ticket-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    text-align: left;
}

    .ticket-button:hover {
        background-color: #e0e0e0;
    }

    .ticket-button > div {
        margin-bottom: 5px;
    }

    .ticket-button strong {
        font-weight: bold;
    }

    .ticket-button div:last-child {
        margin-bottom: 0;
    }
