.map-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.map-image-wrapper {
    cursor: grab; /* Change cursor to indicate draggable area */
    user-select: none;
    -webkit-user-drag: none;
}

    .map-image-wrapper:active {
        cursor: grabbing; /* Change cursor when active */
    }

.map-image {
    width: 2275px;
    height: 2037px;
    pointer-events: none; /* Prevent interaction with the image */
}

.predio-1,
.predio-2,
.predio-3,
.predio-4,
.predio-5,
.predio-6,
.predio-7,
.predio-8,
.predio-9,
.predio-10,
.predio-11,
.predio-13,
.predio-14,
.predio-16,
.predio-17,
.predio-18,
.predio-20,
.predio-21,
.predio-23,
.predio-26,
.predio-27,
.predio-28,
.predio-29,
.predio-31 {
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    position: absolute;
    opacity: 0; /* Initial opacity */
    transition: opacity 0.3s ease; /* Smooth transition */
}

    .predio-1:hover,
    .predio-2:hover,
    .predio-3:hover,
    .predio-4:hover,
    .predio-5:hover,
    .predio-6:hover,
    .predio-7:hover,
    .predio-8:hover,
    .predio-9:hover,
    .predio-10:hover,
    .predio-11:hover,
    .predio-13:hover,
    .predio-14:hover,
    .predio-16:hover,
    .predio-17:hover,
    .predio-18:hover,
    .predio-20:hover,
    .predio-21:hover,
    .predio-23:hover,
    .predio-26:hover,
    .predio-27:hover,
    .predio-28:hover,
    .predio-29:hover,
    .predio-31:hover {
        opacity: 1; /* Opacity when hovered */
    }

.predio-1 {
    top: 1508px;
    left: 1944px;
    z-index: 1;
}

.predio-2 {
    top: 1448px;
    left: 1893px;
    z-index: 2;
}

.predio-3 {
    top: 1636px;
    left: 1717px;
    z-index: 3;
}

.predio-4 {
    top: 1626px;
    left: 1572px;
    z-index: 4;
}

.predio-5 {
    top: 1561px;
    left: 1463px;
    z-index: 5;
}

.predio-6 {
    top: 1466px;
    left: 1433px;
    z-index: 6;
}

.predio-7 {
    top: 1398px;
    left: 1378px;
    z-index: 7;
}

.predio-8 {
    top: 1298px;
    left: 1382px;
    z-index: 8;
}

.predio-9 {
    top: 1254px;
    left: 1211px;
    z-index: 9;
}

.predio-10 {
    top: 900px;
    left: 1560px;
    z-index: 10;
}

.predio-11 {
    top: 983px;
    left: 603px;
    z-index: 11;
}

.predio-13 {
    top: 490px;
    left: 1678px;
    z-index: 12;
}

.predio-14 {
    top: 1056px;
    left: 1131px;
    z-index: 13;
}

.predio-16 {
    top: 389px;
    left: 1553px;
    z-index: 14;
}

.predio-17 {
    top: 340px;
    left: 1680px;
    z-index: 15;
}

.predio-18 {
    top: 785px;
    left: 1045px;
    z-index: 16;
}

.predio-20 {
    top: 887px;
    left: 1296px;
    z-index: 17;
}

.predio-21 {
    top: 1337px;
    left: 1068px;
    z-index: 18;
}

.predio-23 {
    top: 909px;
    left: 1922px;
    z-index: 19;
}

.predio-26 {
    top: 552px;
    left: 1561px;
    z-index: 20;
}

.predio-27 {
    top: 1130px;
    left: 411px;
    z-index: 21;
}

.predio-28 {
    top: 6px;
    left: 1282px;
    z-index: 22;
}

.predio-29 {
    top: 1390px;
    left: 494px;
    z-index: 23;
}

.predio-31 {
    top: 1320px;
    left: 308px;
    z-index: 24;
}
