.user-modal {
    position: fixed;
    right: 10px;
    top: 80px;
    text-align: left;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

    .user-modal ul {
        list-style: none;
        padding: 0;
    }

    .user-modal li {
        margin: 10px 10px 10px 0px;
        cursor: pointer;
    }
